/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 feb. 2024, 8:55:58
    Author     : carlos.mondejar
*/

/* Ocultar las flechas en input numérico */
input[type="number"] {
    -moz-appearance: none; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* WebKit/Blink */
    margin: 0; /* Espaciado adicional */
}

#tablaEquipos thead tr {
    background-color: seagreen;
    color: white;
}

#tablaFungibles thead tr {
    background-color: seagreen;
    color: white;
}

#tablaHerramientas thead tr {
    background-color: seagreen;
    color: white;
}

#tablaEquipos tbody tr:nth-child(even) {
    background-color: mediumseagreen;
}

#tablaFungibles tbody tr:nth-child(even) {
    background-color: mediumseagreen;
}

#tablaHerramientas tbody tr:nth-child(even) {
    background-color: mediumseagreen;
}

#tablaFungibles thead tr #celdaEncabezadoIdFungible {
    display: none;
}

#tablaFungibles tbody tr #celdaIdFungible {
    display: none;
}

#tablaHerramientas thead tr #celdaEncabezadoIdHerramienta {
    display: none;
}

#tablaHerramientas tbody tr #celdaIdHerramienta {
    display: none;
}

.first-level-warning-toast {
  background-color: yellow !important; /* Color de fondo */
  color: black !important; /* Color del texto */
}

.second-level-warning-toast {
  background-color: orange !important; /* Color de fondo */
  color: white !important; /* Color del texto */
}

.error-toast {
  background-color: red !important; /* Color de fondo */
  color: white !important; /* Color del texto */
}

.dataTables_paginate.paging_simple_numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dataTables_paginate.paging_simple_numbers a {
    margin: 2px; /* Ajusta el espaciado entre los enlaces según sea necesario */
}

.dataTables_paginate.paging_simple_numbers span {
    display: flex;
    justify-content: center; /* Ajusta según sea necesario */
    align-items: center; /* Ajusta según sea necesario */
}

.dataTables_length, dataTables_filter {
    clear: both;
    margin-top: 5px; /* Ajusta el espacio según sea necesario */
    margin-bottom: 10px; /* Ajusta el espacio según sea necesario */
    text-align: right;
}
