/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 feb. 2024, 8:55:58
    Author     : carlos.mondejar
*/

.container-fluid,
.collapse.navbar-collapse,
.container,
.row.align-items-start,
.col-9,
.col-3.align-self-center,
.d-grid.gap-2,
.table-responsive,
.modal-content, .modal-header,
.modal-body, .row, .col-6,
.modal-footer,
#toast-container,
#divNotificaciones
{
    overflow: hidden; /* Oculta el contenido que se desborda */
    /*max-width: 200vh; /* Establece la anchura máxima para el contenido */
    /*max-height: 200vh; /* Establece la altura máxima para el contenido */
}

#divNotificaciones div {
    margin: 0 auto;
    overflow: hidden;
    /*    max-width: 200vh;
        max-height: 200vh;*/
    margin-bottom: 10px;
}

.first-level-warning, .second-level-warning, .third-level-warning {
    position: relative; /* Añadir posición relativa para que .cerrar-alerta sea posicionado relativo a este contenedor */
}

.first-level-warning .cerrar-alerta, .second-level-warning .cerrar-alerta, .third-level-warning .cerrar-alerta {
    position: absolute; /* Posición absoluta para poder mover el botón libremente dentro del contenedor */
    bottom: auto; /* Ajustar la distancia desde la parte superior */
    right: 5px; /* Ajustar la distancia desde la derecha */
    cursor: pointer;
}


/* Ocultar las flechas en input numérico */
input[type="number"] {
    -moz-appearance: none; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* WebKit/Blink */
    margin: 0; /* Espaciado adicional */
}

#tablaEquipos thead tr, #tablaFungibles thead tr, #tablaHerramientas thead tr {
    background-color: seagreen;
    color: white;
}

#tablaEquipos tbody tr:nth-child(even), #tablaFungibles tbody tr:nth-child(even), #tablaHerramientas tbody tr:nth-child(even) {
    background-color: mediumseagreen;
    color: white;
}

.table tbody tr:nth-child(even) .sorting_1 {
    color: black;
}

.table tbody tr:nth-child(even):hover .sorting_1 {
    color: black;
}

#imgEquipo, #imgFungible, #imgHerramienta, .foto {
    width: 100px;
}

#tablaFungibles thead tr #celdaEncabezadoIdFungible, #tablaFungibles tbody tr #celdaIdFungible,
#tablaHerramientas thead tr #celdaEncabezadoIdHerramienta, #tablaHerramientas tbody tr #celdaIdHerramienta {
    display: none;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.dataTables_paginate.paging_simple_numbers {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.dataTables_paginate.paging_simple_numbers a {
    margin: 2px; /* Ajusta el espaciado entre los enlaces según sea necesario */
}

.dataTables_paginate.paging_simple_numbers span {
    display: flex;
    justify-content: center; /* Ajusta según sea necesario */
    align-items: center; /* Ajusta según sea necesario */
}

.dataTables_length, dataTables_filter {
    clear: both;
    margin-top: 5px; /* Ajusta el espacio según sea necesario */
    margin-bottom: 10px; /* Ajusta el espacio según sea necesario */
    text-align: right;
}
